@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-wd-blue: #0875e1;
  --color-wd-blue-dark: #005cb9;
  --font-sans: "Geist", ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
}
